body {
    margin: 0;
    padding: 0;
    background-color: #F4F9F9;
}

nav {
    position: sticky;
    min-width: 100%;
    z-index: 5;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    background-color: black;
}

ul li {
    display: flex;
    color: white;
    font-size: 16 px;
}

.logo {
    width: 100%;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}


.a-nav {
    margin-left: 8px;
    text-decoration: none;
    color: white !important;
}

    .a-nav:visited {
        color: white;
    }

    .a-nav:hover {
        color: red !important;
    }

.logo .a-nav, .user {
    font-size: 1.3em;
}

.logo-central {
    width: 100%;
    justify-content: center;
    align-items: center;
}

    .logo-central img, .logo img {
        width: auto;
        max-height: 60px;
    }

.user {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
}


footer {
    background-color: black;
    margin: 0;
    padding: 4px;
}

    footer ul {
        display: flex;
        justify-content: space-around;
    }

h1, h2, h3 {
    display: flex;
    margin-left: 40px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3f3f3f;
}

.btn {
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
}

.user_btn {
    background-color: #f37643;
}

.address_btn {
    background-color: #e52855
}

.pedidos_btn {
    background-color: #a1473b
}
.nuevo_pedido_btn {
    background-color: #c75d36;
}

.user_btn:hover {
    background-color: #b14e27;
}

.address_btn:hover {
    background-color: #a11a3a
}

.pedidos_btn:hover {
    background-color: #61261e
}

.nuevo_pedido_btn:hover {
    background-color: #5a2917;
}

.etiqueta {
    font-weight: bold;
    color: #3f3f3f;
    margin-bottom: 20px;
}
.campo {
    color: #3f3f3f;
    margin-bottom: 20px;
}